<h1>Welcome to JiJi's world, <%= @user.name %></h1>
  <p>
    You have successfully signed up to jiji.com,
    your username is: <%= @user.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
<p>亲爱的老公，当你收到这封邮件，你应该给你老婆发一个红包。你最好啦！</p>